<header class="shadow-sm">
    <div class="container-fluid px-4 d-flex align-items-center justify-content-between py-2">

        <!-- Các thành phần bên trái: Logo + Search + Filter -->
        <div class="d-flex align-items-center flex-grow-1 gap-4">
            <!-- Logo -->
            <div class="d-flex align-items-center header-logo flex-shrink-0">
                <a href="/" class="text-white fs-3 me-3">
                    <i class="fa-solid fa-house"></i>
                </a>
                <span class="fw-bold fs-4 text-white">OU BOOK</span>
            </div>

            <!-- Search -->
            <form class="header-search flex-grow-1" style="max-width: 500px;">
                <div class="input-group">
                    <input class="form-control fs-6 border-0" type="search" placeholder="Tìm kiếm sách...">
                    <button class="btn px-4 fw-bold text-white search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>

            <!-- Lọc -->
            <button class="btn btn-outline-light fw-bold flex-shrink-0 px-3 btn-filter ms-2">
                <i class="fa-solid fa-filter"></i> Lọc nâng cao
            </button>
        </div>

        <!-- Các thành phần bên phải: Account Actions -->
        <div class="header-actions ms-4 flex-shrink-0">
            <a href="{{ url_for('main.word_to_excel') }}" class="btn me-2 fw-bold text-white" style="background-color: #7c3aed;">
                <i class="fa-solid fa-file-excel"></i> Word -> Excel
            </a>

            <!-- Chưa login -->
            {% if request.endpoint != 'auth.register' %}
            <a href="{{ url_for('auth.register') }}" class="btn me-2 fw-bold text-white btn-register" style="background-color: #22c55e;">
                <i class="fa-solid fa-user-plus"></i> Đăng ký
            </a>
            {% endif %}

            {% if request.endpoint != 'auth.login' %}
            <a href="{{ url_for('auth.login') }}" class="btn fw-bold text-white btn-login" style="background-color: #2563eb;">
                <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
            </a>
            {% endif %}
        </div>

    </div>
</header>